<ion-header (click)="closeModal()">
    <ion-navbar>
        <ion-title>
            Player
        </ion-title>
        <ion-buttons end>
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <div player>
        <img player-photo [src]="player.headshot.src" alt="{{ player.headshot.alt }}" />
        <div player-name>
            <span player-text-overlay>
                {{ player.first }} {{ player.last }}
                &nbsp;&nbsp;<br>&nbsp;&nbsp;
                <span *ngIf="player.jersey_number === '1001'">HC</span>
            <span *ngIf="player.jersey_number === '1002'">AC</span>
            <span *ngIf="player.jersey_number === '1003'">M</span>
            <span *ngIf="player.jersey_number != '1001' && player.jersey_number != '1002' && player.jersey_number != '1003'">#{{player.jersey_number}}</span> {{player.position}}
            </span>
        </div>
    </div>

    {{ player.position }} {{ player.hometown }} {{ player.college }} {{ player.years_with_sealions }} {{ player.bio }}

</ion-content>

<!--
    {{ player.first }}
    {{ player.last }}
    {{ player.position }}
    {{ player.jersey_number }}
    {{ player.hometown }}
    {{ player.college }}
    {{ player.years_with_sealions }}
    {{ player.bio }}
    {{ player.headshot.src }}
    {{ player.headshot.alt }}
-->