// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$sealions-blue-dark: #0B419B;
$sealions-blue-medium: #546DAC;
$sealions-blue-light: #8191C4;
$sealions-red: #EE0312;
$sealions-gray-medium: #666666;
$sealions-gray-light: #F6F6F6;
@import '../../www/assets/fonts/lato.scss';
ion-content,
ion-navbar,
ion-tabs {
    font-family: "Lato", "Noto Sans";
}

ion-content,
ion-item {
    background-color: $sealions-gray-light !important;
}

ion-navbar>div {
    background-color: $sealions-blue-dark !important;
    ion-title>div {
        color: white !important;
        text-align: center !important;
    }
}

.tabs-md .tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: $sealions-blue-medium;
}

.tabs-md .tab-button-text {
    font-size: 10px;
}

.tabs-md .tab-button-icon {
    font-size: 20px;
}

[global-text] {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    width: calc(100% - 20px);
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: $sealions-blue-light;
    border: 1px solid $sealions-blue-light;
    border-radius: 2px;
    margin: 10px;
}

[transparent] {
    color: $sealions-blue-light;
    background-color: transparent;
}

[flex-grid] {
    display: flex;
}

[flex-col] {
    flex: 1;
    display: flex;
    align-items: center;
}

[flex-left] {
    justify-content: flex-start;
}

[flex-middle] {
    justify-content: center;
    text-align: center;
}

[flex-right] {
    justify-content: flex-end;
}

.item-md,
.label-md,
.item-md.item-block .item-inner {
    margin: 0;
    padding: 0;
}

ion-label {
    margin: 5px 10px !important;
}

hr {
    margin: 15px 0px;
}