<ion-header>
    <ion-navbar>
        <ion-title>
            SeaLions Calendar
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div global-text [innerHTML]="global"></div>

    <ion-list>
        <ion-item no-lines *ngFor="let game of games" (click)="openModal(game)">

            <div flex-grid top *ngIf="game.home_or_away === 'Home'">
                <div flex-col flex-left> SeaLions </div>
                <div flex-col flex-right> {{ game.opponent }} </div>
            </div>

            <div flex-grid top *ngIf="game.home_or_away != 'Home'">
                <div flex-col flex-left> {{ game.opponent }} </div>
                <div flex-col flex-right> SeaLions </div>
            </div>

            <div flex-grid bottom>
                <div flex-col flex-left>
                    <img logo [src]="logo.src" alt="logo.alt" *ngIf="game.home_or_away === 'Home'">
                    <img logo [src]="game.opponent_logo.src" alt="game.opponent_logo.alt" *ngIf="game.home_or_away != 'Home'">
                </div>
                <div flex-col flex-middle>
                    {{ game.sealions_score }}
                </div>
                <div flex-col flex-middle date>
                    {{ game.date }}<br> {{ game.time }}<br>
                </div>
                <div flex-col flex-middle>
                    {{ game.opponents_score }}
                </div>
                <div flex-col flex-right>
                    <img logo [src]="game.opponent_logo.src" alt="game.opponent_logo.alt" *ngIf="game.home_or_away === 'Home'">
                    <img logo [src]="logo.src" alt="logo.alt" *ngIf="game.home_or_away != 'Home'">
                </div>
            </div>

        </ion-item>
    </ion-list>

</ion-content>

<!--
    {{ game.location }}
    {{ game.game_summary }}
-->

<!--
    {{ game.opponent }}
    {{ game.date }}
    {{ game.time }}
    {{ game.home_or_away }}
    {{ game.location }}
    {{ game.win_or_loss }}
    {{ game.sealions_score }}
    {{ game.opponents_score }}
    {{ game.opponent_logo.src }}
    {{ game.opponent_logo.alt }}
    {{ game.game_summary }}
-->