page-sponsor-modal {
    ion-buttons>ion-icon {
        height: 0px;
        color: $sealions-gray-light;
        padding-right: 10px;
    }
    [picture] {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    [content] {
        width: 100%;
        padding: 20px;
    }
    [title] {
        font-size: 18px;
        font-weight: 600;
        display: -webkit-box;
        white-space: initial;
    }
    [website] {
        font-size: 16px;
        color: $sealions-gray-medium;
    }
    [body] {
        font-size: 14px;
        color: $sealions-gray-medium;
    }
}