<ion-header (click)="closeModal()">
    <ion-navbar>
        <ion-title>
            Game
        </ion-title>
        <ion-buttons end>
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-item no-lines>

        <div flex-grid top *ngIf="game.home_or_away === 'Home'">
            <div flex-col flex-left> SeaLions </div>
            <div flex-col flex-right> {{ game.opponent }} </div>
        </div>

        <div flex-grid top *ngIf="game.home_or_away != 'Home'">
            <div flex-col flex-left> {{ game.opponent }} </div>
            <div flex-col flex-right> SeaLions </div>
        </div>

        <div flex-grid bottom>
            <div flex-col flex-left>
                <img logo [src]="logo.src" alt="logo.alt" *ngIf="game.home_or_away === 'Home'">
                <img logo [src]="game.opponent_logo.src" alt="game.opponent_logo.alt" *ngIf="game.home_or_away != 'Home'">
            </div>
            <div flex-col flex-middle>
                {{ game.sealions_score }}
            </div>
            <div flex-col flex-middle date>
                {{ game.date }}<br> {{ game.time }}<br>
            </div>
            <div flex-col flex-middle>
                {{ game.opponents_score }}
            </div>
            <div flex-col flex-right>
                <img logo [src]="game.opponent_logo.src" alt="game.opponent_logo.alt" *ngIf="game.home_or_away === 'Home'">
                <img logo [src]="logo.src" alt="logo.alt" *ngIf="game.home_or_away != 'Home'">
            </div>
        </div>

    </ion-item>

    <div details>
        <span (click)="addToCalendar()">
            <span title>Add to Calendar <ion-icon name="calendar"></ion-icon></span>
        <span body>{{ game.date }}</span>
        </span>
        <hr>
        <span (click)="openInMaps()">
            <span title>Open in Maps <ion-icon name="map"></ion-icon></span>
        <span body>{{ game.location }}</span>
        <hr>
        </span>
        <span title>Game Summary</span>
        <span body *ngIf="game.summary">{{ game.summary }}</span>
        <span body *ngIf="!game.summary">Game summary coming soon!</span>
    </div>

</ion-content>

<!-- 
    {{ game.opponent }}
    {{ game.date }}
    {{ game.time }}
    {{ game.home_or_away }}
    {{ game.location }}
    {{ game.win_or_loss }}
    {{ game.opponents_score }}
    {{ game.opponent_logo.src }}
    {{ game.opponent_logo.alt }}
    {{ game.game_summary }} 
-->